form#form-add-comment {
    padding: 0.75rem 1rem;

    display: flex;
    flex-direction: column;
}

form#form-add-comment * {
    display: inline-block;
}

form#form-add-comment label {
    margin-bottom: 0.75rem;
}

form#form-add-comment textarea {
    padding: 0.5rem;
}

form#form-add-comment button {
    width: max-content;

    align-self: flex-end;
    position: absolute;
    bottom: 1rem;

    padding: 0.25rem 0.5rem;
}